/* LESS Document */
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.padding30 {
  padding: 30px;
}
.pbg {
  background: #2856b6;
}
.sbg {
  background: #2c3e50;
}
.tbg {
  background: #ff4081;
}
.pclr {
  color: #2856b6;
}
.sclr {
  color: #2c3e50;
}
.tclr {
  color: #ff4081;
}
.wclr {
  color: #ffffff;
}
.bclr {
  color: #000000;
}
.black {
  background: #000;
}
.white {
  background: #FFF;
}
.sfont {
  font-family: 'Roboto', sans-serif;
}
.flight {
  font-weight: 300;
}
.fnormal {
  font-weight: 400;
}
.fmedium {
  font-weight: 500;
}
.fbold {
  font-weight: 700;
}
.img-shadow {
  box-shadow: 0 0 0 5px #ffffff, 0 0 0 6px #eeeeee, 0 3px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 3px 4px -1px rgba(0, 0, 0, 0.2);
}
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
}
.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08), 0 1px 7px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -1px rgba(0, 0, 0, 0.05);
}
.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08), 0 1px 10px 0 rgba(0, 0, 0, 0.06), 0 2px 4px -1px rgba(0, 0, 0, 0.05);
}
.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08), 0 1px 18px 0 rgba(0, 0, 0, 0.06), 0 3px 5px -1px rgba(0, 0, 0, 0.05);
}
.z-depth-4,
.modal {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.08), 0 3px 14px 2px rgba(0, 0, 0, 0.06), 0 5px 5px -3px rgba(0, 0, 0, 0.05);
}
.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.08), 0 6px 30px 5px rgba(0, 0, 0, 0.06), 0 8px 10px -5px rgba(0, 0, 0, 0.12);
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #ebeff1;
}
.rlight {
  font-weight: 300;
}
.rregular {
  font-weight: 400;
}
.rbold {
  font-weight: 700;
}
::selection {
  color: #FFF;
  background: #ff4081;
}
-moz-::selection {
  color: #FFF;
  background: #ff4081;
}
.radius {
  border-radius: 3px;
}
hr {
  background: #eee none repeat scroll 0 0;
  border: 0 solid;
  height: 1px;
  margin: 30px 0 25px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
p {
  font-size: 16px;
}
.bulleted {
  margin: 10px 0;
}
.bulleted > li {
  position: relative;
  padding-left: 15px;
}
.bulleted > li:before {
  background: #1b1b1b none repeat scroll 0 0;
  border-radius: 40px;
  content: "";
  display: inline-block;
  height: 5px;
  margin-left: -15px;
  margin-right: 10px;
  position: relative;
  top: -3px;
  width: 5px;
}
a {
  outline: medium none !important;
  color: #2856b6;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  text-shadow: 0 0 0 transparent;
}
.hover a:hover {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
textarea {
  resize: vertical;
}
.form-control:focus,
.input:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(40, 86, 182, 0.6);
  border-color: #2856b6;
}
.m30top {
  margin-top: 30px;
}
.m30bottom {
  margin-bottom: 30px;
}
.mtop-10 {
  margin-top: 10px;
}
.mbottom-10 {
  margin-bottom: 10px;
}
.nm-top {
  margin-top: 0 !important;
}
.nm-bottom {
  margin-bottom: 0 !important;
}
.padding30 {
  padding: 30px !important;
}
/*.btn {
    border-radius: 50px;
    box-shadow: none;
	padding: 0 1.8rem;
	line-height: 2.3;
	text-transform:none
}*/
.input-field .cke + label {
  top: 0.3rem;
}
a.cke_button:hover {
  background: #fafafa none repeat scroll 0 0;
  border-color: #f1f1f1;
}
.btn {
  box-shadow: 0 0 0 transparent;
  text-transform: none;
  border: 0 none;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 0;
  color: #FFF;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.btn:hover,
.btn:focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08), 0 1px 18px 0 rgba(0, 0, 0, 0.06), 0 3px 5px -1px rgba(0, 0, 0, 0.05);
  color: #FFF;
}
.btn.btn-pclr {
  background: #2856b6;
  border: 1px solid #2856b6;
}
.btn.btn-pclr:hover,
.btn.btn-pclr:focus {
  background: #2856b6;
}
.btn.btn-sclr {
  background: #2c3e50;
  border: 1px solid #2c3e50;
}
.btn.btn-sclr:hover,
.btn.btn-sclr:focus {
  background: #2c3e50;
}
.btn.btn-tclr {
  background: #ff4081;
  border: 1px solid #ff4081;
}
.btn.btn-tclr:hover,
.btn.btn-tclr:focus {
  background: #ff4081;
}
.btn.btn-o {
  background: transparent;
  border: 1px solid;
  /*  line-height: 2.1;*/
}
.btn-pclr.btn.btn-o {
  color: #2856b6;
}
.btn-pclr.btn.btn-o:hover {
  color: #2856b6;
}
.btn-sclr.btn.btn-o {
  color: #2c3e50;
}
.btn-sclr.btn.btn-o:hover {
  color: #2c3e50;
}
.btn-tclr.btn.btn-o {
  color: #ff4081;
}
.btn-tclr.btn.btn-o:hover {
  color: #ff4081;
}
.button-set li {
  display: inline-block;
}
.button-set li.dropdown-wrap:before {
  margin: 20px 0 0 -10px;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.button-set .dropdown-wrap .dropdown {
  margin-top: 10px;
  top: 100%;
}
.button-set .dropdown-wrap .dropdown li a {
  color: #2c3e50;
  display: block;
}
.button-set .dropdown-wrap .dropdown li a:hover {
  color: #2856b6;
}
.button-set li.dropdown-wrap:hover:before {
  margin-top: 0;
  opacity: 1;
}
.valigncenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.haligncenter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
nav.navbar {
  border: 0 solid;
  border-radius: 0;
  margin-bottom: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(40, 86, 182, 0.7);
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools_onDrag .mCSB_dragger_bar {
  background: rgba(40, 86, 182, 0.9) !important;
}
.navbar-collapse {
  padding: 0;
}
.top-header {
  background: #2856b6;
  height: 60px;
}
.top-header .btn {
  color: #ffffff;
  height: 46px;
  width: 100px;
  margin: 0;
  border: 0 solid;
}
.top-header .btn.btn-pblack {
  background-color: rgba(0, 0, 0, 0.2);
}
.top-header .form-control {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0 solid;
  box-shadow: 0 0 0;
  color: #FFF;
}
.top-header .form-control::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
.top-header .form-control:-ms-input-placeholder {
  color: #FFF;
}
.top-header .form-control::-webkit-input-placeholder {
  color: #FFF;
}
.top-header .form-group {
  width: 100%;
}
.top-header .btn-group {
  margin: 7px 0;
}
form.navbar-form {
  width: calc(100% - 244px);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.navbar-header {
  overflow: hidden;
  width: 45px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.navbar-header:hover {
  width: 180px;
}
.navbar-header:hover + form.navbar-form {
  width: calc(100% - 379px);
}
.form-control {
  border-radius: 0;
  height: 46px;
}
.navbar-brand {
  height: auto;
  padding: 12px 15px;
}
.main-nav {
  background: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.13);
}
.navbar-nav .fa {
  background: #2856b6;
  border-radius: 50px;
  color: #ffffff;
  float: left;
  font-size: 10px;
  height: 20px;
  margin-right: 9px;
  padding-top: 4px;
  text-align: center;
  width: 20px;
}
.navbar-nav .fa.fa-calendar-check-o {
  background: #ff4081;
}
.navbar-nav .fa.fa-th-list {
  background: #9d39cc;
}
.navbar-nav .fa.fa-share-alt {
  background: #aa2e85;
}
.navbar-nav .fa.fa-comments-o {
  background: #53b6bf;
}
.main-nav li:last-child a {
  line-height: 1.15;
}
.carousel-control {
  background: #ffffff none repeat scroll 0 0 !important;
  border-radius: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  float: left;
  height: 30px;
  margin-left: 6px;
  position: static;
  text-shadow: none;
  width: 30px;
}
.carousel-control .glyphicon {
  color: #333333;
  font-size: 14px;
  margin: auto;
  padding-top: 8px;
  position: static;
  width: auto;
}
.coupon-content {
  background: #ffffff;
  float: left;
  padding: 10px;
  width: 100%;
  margin: 7px 0 15px;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.coupon-content:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.08), 0 3px 14px 2px rgba(0, 0, 0, 0.06), 0 5px 5px -3px rgba(0, 0, 0, 0.05);
}
.coupon-content h3 {
  color: #2c3e50;
  display: table-cell;
  font-size: 14px;
  height: 55px;
  margin: 6px 0;
  vertical-align: middle;
}
.coupon-content h3 a {
  color: #2c3e50;
}
.coupon-content h3 strong {
  color: #2856b6;
}
.coupon-content .code-btn {
  float: right;
  height: 55px;
  line-height: 3.8;
  padding: 0;
  width: 55px;
}
.coupon-content .img-responsive {
  border: 1px solid #dddddd;
  border-radius: 100%;
}
.carousel {
  margin-top: -5px;
}
.carousel-inner {
  clear: both;
  float: left;
}
.small-haed {
  font-size: 18px;
  margin: 25px 0;
}
.no-padding-left {
  padding-left: 0;
}
.carousel-control-2 {
  margin-top: 17px;
}
#carousel-two .carousel-control-2 {
  margin-top: 2px;
}
.no-padding-right {
  padding-right: 0;
}
.carousel .small-haed {
  margin-bottom: 15px;
}
#carousel-two .coupon-content {
  box-shadow: none;
  margin: 0;
}
#carousel-two .coupon-content h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.coupon-shade {
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  float: left;
  width: 100%;
  margin: 10px 0 15px;
}
.coupon-shade:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08), 0 1px 18px 0 rgba(0, 0, 0, 0.06), 0 3px 5px -1px rgba(0, 0, 0, 0.05);
}
.coupon > hr {
  background: #dddddd none repeat scroll 0 0;
  bottom: 19px;
  left: 0;
  position: absolute;
  width: 100%;
}
.coupon-content.coupon {
  position: relative;
  margin: 10px 0 20px;
  padding: 15px;
}
.coupon .btn-set {
  margin-right: -17px;
  margin-top: 12px;
}
.coupon .btn-set .btn {
  border-radius: 0 0 3px 3px;
  height: 34px;
  line-height: 1.4;
  margin-left: 7px;
}
.coupon .coupon-text > h3 {
  font-size: 18px;
  height: 75px;
}
.coupon .code-btn {
  margin-top: 10px;
}
.coupon-logo {
  top: 0;
  z-index: 9;
}
.coupon-main {
  height: 116px;
}
.date {
  margin-top: 23px;
}
.banner-middle {
  margin: 10px 0;
}
.merchants ul {
  float: left;
  margin: 10px 0 20px;
  width: 100%;
}
.merchants li {
  float: left;
  margin: 0 10px 10px 0;
}
.merchants li a {
  display: block;
  font-weight: 400;
  padding: 10px 15px;
  color: #2c3e50;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
}
.merchants li a:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08), 0 1px 10px 0 rgba(0, 0, 0, 0.06), 0 2px 4px -1px rgba(0, 0, 0, 0.05);
}
.merchants li .tag {
  display: inline-block;
  margin-right: 10px;
}
.card {
  background: #FFF;
  float: left;
  padding: 30px;
  width: 100%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08), 0 1px 10px 0 rgba(0, 0, 0, 0.06), 0 2px 4px -1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}
.subscribe .input-group {
  left: -10px;
}
.subscribe input {
  border-radius: 3px !important;
}
.subscribe .btn {
  border-radius: 3px !important;
  height: 46px;
  left: 10px;
  position: relative;
}
.subscribe .input-group-addon {
  background: transparent;
  border: 0 solid;
}
/**store*/
.store-card {
  margin-bottom: 20px;
  background-image: -moz-linear-gradient(45deg, #2856b6 0%, #8a4c9e 56%, #ab4996 79%, #cb458e 100%);
  background-image: -webkit-linear-gradient(45deg, #2856b6 0%, #8a4c9e 56%, #ab4996 79%, #cb458e 100%);
  background-image: -ms-linear-gradient(45deg, #2856b6 0%, #8a4c9e 56%, #ab4996 79%, #cb458e 100%);
}
.Rounded_Rectangle_2_copy_6 {
  border-radius: 3px;
  background-color: #2856b6;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.13);
  position: absolute;
  left: 135px;
  top: 1223px;
  width: 1170px;
  height: 380px;
  z-index: 222;
}
.coupon-main {
  color: #ffffff;
}
.coupon-main h1 {
  font-size: 20px;
  margin: 15px 0 7px;
}
.coupon-main p {
  font-size: 14px;
}
.coupon-content.store-coupon {
  margin: 0 0 30px;
}
.coupon-content.store-coupon .date {
  margin-top: 10px;
}
.coupon-content.store-coupon .coupon {
  border-top: 1px solid #dddddd;
  margin-top: 10px;
}
.coupon-content.store-coupon .btn-set {
  margin-top: -1px;
}
.coupon-content.store-coupon h3 {
  font-size: 16px;
  height: 71px;
}
.coupon-content.store-coupon .code-btn {
  margin-top: 10px;
}
.filter a {
  color: #2c3e50;
}
.filter a:hover {
  color: #ff4081;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about {
  margin-bottom: 30px;
}
.about .small-haed {
  margin-top: 0;
}
.tips .bulleted > li {
  margin-bottom: 10px;
}
.about-content .scroller {
  height: 44px;
  margin-bottom: 10px;
}
.percent {
  color: #2856b6;
  font-size: 32px;
  font-weight: 700;
  padding-top: 4px;
  text-align: center;
}
.percent .off {
  color: #2c3e50;
  font-size: 18px;
  margin-top: -10px;
}
.modal-backdrop {
  background: #2c3e50;
}
.modal-backdrop.in {
  opacity: 0.8;
}
.icon-newsletter > a {
  background: #eeeeee none repeat scroll 0 0;
  border: 2px solid #dddddd;
  border-radius: 100%;
  display: block;
  float: left;
  height: 120px;
  margin-right: 30px;
  padding: 10px;
  width: 120px;
}
.icon-newsletter > a img {
  border-radius: 100%;
  width: 100%;
}
.icon-newsletter h5 {
  font-size: 22px;
  padding-top: 25px;
  color: #FFF;
}
.modal-body {
  padding: 0;
}
.couponcode {
  margin-bottom: 10px;
  text-align: center;
}
.code-this.codehere {
  font-size: 40px;
  font-weight: 700;
}
.copycode {
  width: 100%;
  margin: 10px 0;
}
.copycode.code-success {
  background: #2856b6;
  border-color: #2856b6;
}
.modal .padding30 {
  padding: 30px 30px 6px !important;
}
.modal hr {
  margin: 15px 0;
}
.icon-newsletter {
  float: left;
  width: 100%;
  background: #2856b6;
  padding: 30px;
}
.modal-content.radius.card {
  padding: 0;
  border: 0;
}
.modal-content button.close {
  position: absolute;
  right: 0;
  background: #FFF;
  z-index: 9;
  opacity: 1;
  width: 30px;
  height: 30px;
  border-radius: 90px;
  right: 15px;
  top: -15px;
}
.breadcrumb {
  background: transparent;
  border: 0 none;
  border-radius: 0;
  margin: 0;
  padding: 10px 15px;
}
.breadcrumb a,
.breadcrumb span {
  color: #ffffff;
}
.store-description .card {
  padding: 0;
}
.store-description .cat-wrap {
  padding: 30px;
}
.cat-list .icon {
  border-radius: 50px;
  float: left;
  height: 50px;
  margin-right: 30px;
  padding-top: 9px;
  text-align: center;
  width: 50px;
  background: #ffffff;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
}
.store-description:nth-of-type(5n+1) .cat-list .main-head {
  background: #2856b6;
}
.store-description:nth-of-type(5n+5) .cat-list .main-head {
  background: #9d39cc;
}
.store-description:nth-of-type(5n+7) .cat-list .main-head {
  background: #aa2e85;
}
.store-description:nth-of-type(5n+3) .cat-list .main-head {
  background: #ff4081;
}
.store-description:nth-of-type(5n+9) .cat-list .main-head {
  background: #66c3cc;
}
.cat-list .icon img {
  width: 70%;
}
.cat-list .main-head p {
  font-size: 19px;
  padding-top: 15px;
}
.cat-list .main-head {
  background: #2856b6;
  border-radius: 3px;
  color: #ffffff;
  float: left;
  font-weight: 600;
  margin: 0;
  padding: 7px 30px;
  width: 100%;
}
.cat-links li a {
  color: #2c3e50;
  font-weight: 400;
}
.cat-links li a:hover {
  color: #2856b6;
}
.no-margin-top {
  margin-top: 0;
}
.with-image .coupon-content {
  margin-bottom: 0;
}
.with-image {
  margin-bottom: 15px;
}
.deal .percent {
  font-size: 22px;
}
.deal .percent .off {
  font-size: 26px;
}
.deal-price > div {
  float: left;
  margin-right: 10px;
}
.cross-text {
  text-decoration: line-through;
}
.org-text {
  color: #2856b6;
  font-weight: 700;
}
#carousel-two.carousel .small-haed {
  margin: 15px 0;
}
#carousel-first.carousel .small-haed {
  margin-bottom: 15px;
}
.deal .coupon-shade {
  margin-top: 0;
}
.right-deal-detail {
  background: #ffffff;
  height: 135px	;
  padding-top: 22px;
  text-align: center;
}
.right-deal-detail .deal-price {
  color: #2c3e50;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 7px;
}
.right-deal-detail .deal-price .price {
  color: #ff4081;
  display: block;
  font-size: 20px;
}
.sidebar .small-haed:first-child {
  margin-top: 0;
}
.sidebar .small-haed {
  margin-bottom: 15px;
}
.sidebar .merchants li a {
  background: #eeeeee none repeat scroll 0 0 !important;
  position: relative;
}
.sidebar .merchants li a img {
  left: 0;
  position: absolute;
  top: 0;
  width: 38px;
}
.sidebar .merchants li .tag {
  font-size: 13px;
  margin-right: 0;
  padding-left: 39px;
}
.radiobtn span .fa {
  color: rgba(0, 0, 0, 0);
}
label {
  font-weight: normal;
}
.radiobtn {
  float: left;
  margin-right: 17px;
}
.radiobtn input {
  display: none;
}
.radiobtn input:checked + span {
  border-color: #2856b6;
  color: #2856b6;
}
.radiobtn input:checked + span .fa {
  color: #2856b6;
}
.radiobtn span {
  border: 1px solid #dddddd;
  cursor: pointer;
  display: block;
  padding: 5px 30px 5px 15px;
  transition: all 0.5s ease 0s;
}
.input-search.split {
  position: relative;
}
#opt2.input-search.split,
#opt3.input-search.split {
  position: absolute;
  top: 0;
  width: 100%;
}
.share .input-search.in {
  z-index: 9;
}
.store-alphabet li {
  display: inline-block;
  margin: 0 4px 4px 0;
}
.store-alphabet li a {
  display: block;
  padding: 10px;
  background: #FFF;
  float: left;
  padding: 30px;
  width: 100%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08), 0 1px 10px 0 rgba(0, 0, 0, 0.06), 0 2px 4px -1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
}
.store-alphabet li.active {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.08), 0 6px 30px 5px rgba(0, 0, 0, 0.06), 0 8px 10px -5px rgba(0, 0, 0, 0.12);
}
.store-alphabet li.active a {
  background: #ff4081;
  border: 1px solid #ff4081;
  color: #ffffff;
}
.store-alphabet li.active a:hover,
.store-alphabet li.active a:focus {
  background: #ff4081;
}
.blog-post .main-head {
  font-size: 20px;
}
.blog-post.blog-list {
  height: 270px;
}
.blog-post > div {
  height: 100%;
}
.blog-post > div > div {
  height: 100%;
}
.blog-post > div > div > div {
  height: 100%;
}
.blog-post > div > div.blog-content {
  height: auto;
}
.blog-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.media-object.img-responsive {
  margin-bottom: 10px;
}
h4.media-heading {
  color: #333333;
}
.relate-post-content > p {
  font-size: 13px;
}
.relate-post a {
  border-bottom: 1px solid #dddddd;
  display: block;
  margin-bottom: 10px;
}
.relate-post li:not(:first-child) a {
  margin-top: 10px;
}
.relate-post li:last-child a {
  border-bottom: 0 none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.relate-post li:last-child p {
  margin-bottom: 0;
}
.blog-img-detail {
  margin: 30px 0;
  text-align: center;
}
.blog-img-detail .img-wrap {
  background: #ffffff;
  display: inline-block;
  padding: 10px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.08), 0 3px 14px 2px rgba(0, 0, 0, 0.06), 0 5px 5px -3px rgba(0, 0, 0, 0.05);
}
.blog-img-detail .img-wrap .img-responsive {
  display: inline-block;
}
.img-wrap > p {
  margin: 0;
  padding-top: 7px;
}
.card.card-store {
  padding: 10px 10px 0;
}
.card.card-store img {
  width: 100%;
}
.card.card-store p.caption-new {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
.card.card-store p.caption-new a {
  color: #2c3e50;
}
.blog-post.blog-list.press-list {
  float: left;
  height: auto;
  width: 100%;
}
.special-page.deal .coupon-img img {
  margin: auto;
  width: 120px;
}
.special-page.deal .coupon-img {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 1px solid #eeeeee;
}
.wizard {
  background: #ffffff none repeat scroll 0 0;
  margin: 20px auto;
}
.wizard .nav-tabs {
  border-bottom-color: #e0e0e0;
  margin: 0 auto;
  position: relative;
}
.wizard > div.wizard-inner {
  position: relative;
}
.connecting-line {
  background: #e0e0e0 none repeat scroll 0 0;
  height: 2px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  width: 80%;
  z-index: 1;
}
.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0);
  border-image: none;
  border-style: none;
  border-width: 0;
  color: #555555;
  cursor: default;
}
span.round-tab {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid #e0e0e0;
  border-radius: 100px;
  display: inline-block;
  font-size: 25px;
  height: 70px;
  left: 0;
  line-height: 64px;
  position: absolute;
  text-align: center;
  width: 70px;
  z-index: 2;
}
span.round-tab i {
  color: #555555;
}
.wizard li.active span.round-tab {
  border: 2px solid #2856b6;
  background: #2856b6;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08), 0 1px 18px 0 rgba(0, 0, 0, 0.06), 0 3px 5px -1px rgba(0, 0, 0, 0.05);
  color: #FFF;
}
.wizard li.active span.round-tab i {
  color: #2856b6;
}
span.round-tab:hover {
  border: 2px solid #333333;
  color: #333333;
}
.wizard .nav-tabs > li {
  width: 25%;
}
.wizard li::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2856b6;
  border-image: none;
  border-style: solid;
  border-width: 5px;
  bottom: 0;
  content: " ";
  left: 46%;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  transition: all 0.1s ease-in-out 0s;
}
.wizard li.active::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2856b6;
  border-image: none;
  border-style: solid;
  border-width: 10px;
  bottom: 0;
  content: " ";
  left: 46%;
  margin: 0 auto;
  opacity: 1;
  position: absolute;
}
.wizard .nav-tabs > li a {
  border-radius: 100%;
  height: 70px;
  margin: 20px auto;
  padding: 0;
  width: 70px;
}
.wizard .nav-tabs > li a:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.wizard .tab-pane {
  padding: 15px;
  position: relative;
}
.wizard h3 {
  margin-top: 0;
}
@media (max-width: 585px) {
  .wizard {
    height: auto !important;
    width: 90%;
  }
  span.round-tab {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    width: 50px;
  }
  .wizard .nav-tabs > li a {
    height: 50px;
    line-height: 50px;
    width: 50px;
  }
  .wizard li.active::after {
    content: " ";
    left: 35%;
    position: absolute;
  }
}
.icons-class svg {
  width: 50px;
}
.recommended > li {
  border: 1px solid #dddddd;
  display: inline-block;
  width: 24%;
  margin: 10px 0;
}
.recommended {
  text-align: center;
}
.checkbox-virtual label {
  position: relative;
}
.recommended .form-control {
  opacity: 0;
  position: absolute;
}
.recommended .form-control:checked + .icons-class {
  color: #2856b6;
  fill: #2856b6;
}
.icons-class {
  color: #2c3e50;
  fill: #2c3e50;
}
.icons-class * {
  cursor: pointer;
  transition: all 500ms ease 0s;
}
.icons-class > p {
  margin-bottom: 0;
}
.wizard .nav-tabs > li.active > a {
  background: none  !important;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08), 0 1px 18px 0 rgba(0, 0, 0, 0.06), 0 3px 5px -1px rgba(0, 0, 0, 0.05);
}
.wizard h2,
.wizard h3,
.few-step-head h1 {
  color: #2c3e50;
  font-size: 20px;
  margin: 20px 0 10px;
}
#step1 .few-step-head h1 {
  color: #2856b6;
  font-size: 34px;
  margin: 10px 0 5px;
}
.wizard .red-btn-new {
  border-radius: 3px;
  padding: 8px 20px;
}
.wizard .list-inline {
  margin-top: 10px;
}
.red-btn-new:hover,
.red-btn-new:active,
.red-btn-new:focus {
  background: #2c3e50 none repeat scroll 0 0 !important;
  color: #ffffff !important;
}
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li > a {
  border: 0 solid;
}
.wizard {
  overflow: hidden;
  position: relative;
}
.wizard .form-group input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
.wizard .form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px;
}
.wizard .form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}
.wizard .form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: none;
}
.wizard .form-group input[type="checkbox"] + .btn-group > label span:first-child {
  color: #dddddd;
}
.wizard .form-group input[type="checkbox"] + .btn-group > label span:first-child,
.wizard .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}
.wizard .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;
}
.wizard .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  color: #2856b6;
}
.wizard .form-group input[type="checkbox"]:checked + .btn-group > label:last-child {
  background: #2856b6 none repeat scroll 0 0 !important;
  color: #ffffff;
}
#step2 label:last-child {
  background: #eeeeee none repeat scroll 0 0;
  border-color: #dddddd;
  border-radius: 0;
  box-shadow: none;
  font-size: 13px;
  padding-left: 42px;
  text-align: left;
  width: 100%;
}
#step2 label:first-child {
  border-color: #dddddd;
  border-radius: 0;
  left: -1px;
  padding: 5px 7px;
  position: absolute;
  top: 0;
  z-index: 9;
}
#step2 label {
  background: #eeeeee none repeat scroll 0 0;
}
.checkbox-wrao > div {
  position: relative;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 5px;
}
.checkbox-wrao [class="[ btn-group ]"] {
  width: 100%;
}
.checkbox-wrao > div {
  float: left;
  width: 50%;
}
.checkbox-wrao div label:last-child {
  text-align: left;
  width: 230px;
}
#step3 .stores.mamas li {
  float: left;
  padding: 0 10px;
  width: 25%;
  cursor: pointer;
}
#step3 .stores.mamas li:nth-child(n+5) {
  margin-top: 15px;
}
.img-check img {
  width: 100%;
}
.img-check > input:checked + a .store-titile {
  background: #2856b6 none repeat scroll 0 0;
  transition: all 500ms ease 0s;
  transform: scale(1);
  color: #FFF;
}
.img-check > input:checked + a {
  border-color: #2856b6;
}
.img-check {
  position: relative;
  border: 1px solid #DDD;
}
.img-check > input {
  opacity: 0;
  position: absolute;
}
.img-check img {
  width: 100%;
}
.img-check .store-titile {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  font-size: 13px;
  height: 100%;
  left: 0;
  padding: 40px 10px 0;
  position: absolute;
  text-align: center;
  top: 0;
  transform: scale(0);
  width: 100%;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.img-check:hover .store-titile {
  transform: scale(1);
}
#complete > div label {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  padding: 0 5px;
}
#complete > div label:hover {
  background: #2856b6 !important;
}
.few-step-head {
  border-bottom: 1px dashed #dddddd;
  text-align: center;
  width: 100%;
}
.checkbox-wrao,
#step3 .stores.mamas,
#complete .few-step-head {
  margin-top: 20px;
}
#login-modal.modal {
  background: #ffffff none repeat scroll 0 0;
}
#login-modal.modal {
  background: #ffffff none repeat scroll 0 0;
}
.loginmodal-container > h1 {
  color: #2856b6;
  font-size: 20px;
  margin: 0;
}
label {
  font-weight: normal;
}
.login-help > a {
  color: #2856b6;
  display: inline-block;
  padding: 0 5px;
}
.login-help {
  float: left;
  margin: 10px 0 0 -5px;
  width: 100%;
}
.savecoup svg path {
  fill: #ffffff;
  stroke: #2856b6;
}
.savecoup.saved svg path {
  fill: #2856b6;
}
.savecoup svg {
  left: -3px;
  position: relative;
  top: 3px;
  width: 16px;
}
.drop-button.red-btn-new.autoWd {
  float: right;
  width: auto;
}
p.removeable {
  margin-bottom: 10px;
}
#step2 label:last-child:hover,
#step2 label:last-child:focus {
  background: #2856b6 !important;
  color: #FFF;
}
.btn-group > .btn:first-child:hover,
.btn-group > .btn:first-child:focus {
  background: #EEE  !important;
}
.login.wizard .list-inline li {
  padding: 0;
}
@media (max-width: 1200px) {
  .coupon-logo {
    top: 13px;
  }
  .about-content .scroller {
    height: 80px;
  }
}
@media (max-width: 991px) {
  .coupon-content h3 {
    font-size: 18px;
    height: 120px;
  }
  .coupon-content .code-btn {
    margin-top: 30px;
  }
  .coupon .coupon-text > h3 {
    height: 100px;
  }
  .coupon-logo a {
    display: block;
    width: 141px;
  }
  .coupon-logo {
    top: 0;
  }
  .coupon-img .img-responsive {
    width: 100%;
  }
  #carousel-two.carousel .small-haed {
    margin-top: 10px;
  }
  .sidebar,
  .card {
    float: left;
    margin-bottom: 30px;
    width: 100%;
  }
  .navbar-nav > li:last-child {
    margin-bottom: 10px;
    width: 100%;
  }
  .modal-content button.close {
    top: 15px;
  }
  .icon-newsletter h5 {
    clear: both;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .navbar-header {
    width: 100% !important;
    background: #2856b6;
  }
  form.navbar-form {
    width: 100%;
  }
  .top-header {
    height: auto;
  }
  .top-header .btn-group {
    padding: 0 15px;
    width: 100%;
  }
  .navbar-form {
    margin: 0;
  }
  .navbar-nav {
    margin: 0;
  }
  .nav > li.pull-right {
    float: left !important;
    margin: 10px 15px 30px;
  }
  .navbar-toggle {
    background: #FFF;
    border-radius: 0;
    margin-top: 13px;
  }
  .navbar-toggle .icon-bar {
    background: #2856b6;
  }
  .navbar-toggle[aria-expanded="true"] {
    background: rgba(0, 0, 0, 0.2);
  }
  .navbar-toggle[aria-expanded="true"] .icon-bar {
    background: #FFF;
  }
  .coupon-content {
    height: 130px;
  }
  .coupon-content > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .coupon-content h3 {
    height: auto;
  }
  .coupon-content .code-btn {
    margin-top: 0;
  }
  .coupon-content > div:first-child {
    display: none;
  }
  .coupon-main img {
    width: 130px;
  }
  .coupon-main {
    float: left;
    height: auto;
    margin: 20px 0;
  }
  .coupon-content.store-coupon {
    height: auto;
  }
  .coupon-content.store-coupon > div {
    top: 0;
    transform: none;
  }
  .subscribe .input-group-addon {
    display: block;
    margin-bottom: 5px;
    padding-left: 0;
    text-align: left;
    width: 100%;
  }
  .subscribe .input-group-btn {
    clear: both;
    display: block;
    width: 100%;
  }
  .subscribe .input-group {
    display: block;
    left: 0;
    width: 100%;
  }
  .subscribe .btn {
    left: 0;
    margin-top: 10px;
  }
}
