.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.padding30 {
  padding: 30px;
}
.pbg {
  background: #2856b6;
}
.sbg {
  background: #2c3e50;
}
.tbg {
  background: #ff4081;
}
.pclr {
  color: #2856b6;
}
.sclr {
  color: #2c3e50;
}
.tclr {
  color: #ff4081;
}
.wclr {
  color: #ffffff;
}
.bclr {
  color: #000000;
}
.black {
  background: #000;
}
.white {
  background: #FFF;
}
.sfont {
  font-family: 'Roboto', sans-serif;
}
.flight {
  font-weight: 300;
}
.fnormal {
  font-weight: 400;
}
.fmedium {
  font-weight: 500;
}
.fbold {
  font-weight: 700;
}
.img-shadow {
  box-shadow: 0 0 0 5px #ffffff, 0 0 0 6px #eeeeee, 0 3px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 3px 4px -1px rgba(0, 0, 0, 0.2);
}
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
}
.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08), 0 1px 7px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -1px rgba(0, 0, 0, 0.05);
}
.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08), 0 1px 10px 0 rgba(0, 0, 0, 0.06), 0 2px 4px -1px rgba(0, 0, 0, 0.05);
}
.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08), 0 1px 18px 0 rgba(0, 0, 0, 0.06), 0 3px 5px -1px rgba(0, 0, 0, 0.05);
}
.z-depth-4,
.modal {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.08), 0 3px 14px 2px rgba(0, 0, 0, 0.06), 0 5px 5px -3px rgba(0, 0, 0, 0.05);
}
.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.08), 0 6px 30px 5px rgba(0, 0, 0, 0.06), 0 8px 10px -5px rgba(0, 0, 0, 0.12);
}
